header{

    .nav{
        
        @include flex($justify: flex-end);
        position: fixed;
        width: 100%;
        padding: 1rem 1rem;
        z-index: 4;
        transition: all 0.4s ease;
        //font-size: 29px;  
        //font-weight: 40500;
        letter-spacing: 1px;
        

        @include tablet {
            @include flex($justify: space-between);
            
          }
      
          @include mobile {
            position: absolute;
            padding: 1rem 1rem;
            font-size: 0.5rem;
          }

          #logo {
            @include flex();
            position: fixed;
            left: 2rem;
      
            @include tablet {
              position: initial;
            }
      
            @include mobile {
              width: fit-content;
              margin: 2rem auto;
            }
      
            &:hover {
      
              .fixed {
                opacity: 0;
      
                @include mobile {
                  opacity: 1;
                }
              }
      
              .transition {
                opacity: 1;
              }
      
            }
          }


          ul {
            @include flex();
            gap: 6.4rem;
            float: right;
            text-align: right;
      
            @include mobile {
              @include flex($justify: space-between);
              width: 100vw;
              gap: auto;
              padding: 2rem 4rem;
              background: black;
              position: fixed;
              bottom: 0;
              left: 0;
              z-index: 4;
            }
      
            li {
              padding: 0.16rems 0.32rem;
      
              position: relative;
              transition: all .35s ease;
      
              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $white;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
      
              &:hover {
                color: $white;
      
                &::before {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
            }
          }
    }

}

main{

#presentation{
    @include flex($justify: space-between);
    width: 100vw;
    height: 100vh;


    #salut{
        padding-left: 40vw;
        line-height: 1rem;

        @include tablet {
            padding-left: 20vw;

        }

        @include mobile {
            padding-left: 10vw;

        }

        #MARIANA{
        padding-left: 80px;
        }
        #SILVA{
            padding-left: 30px;
            }
    }
    

}


#about{
    width: 100vw;
    height: 100vh;


    section{
        margin: 50px;

    }


}





}