
header{

    .nav{
        
        @include flex($justify: flex-end);
        position: fixed;
        width: 100%;
        padding: 2rem 2rem;
        z-index: 4;
        transition: all 0.4s ease;
        letter-spacing: 1px;
        

        @include tablet {
            @include flex($justify: space-between);
            
          }
      
          @include mobile {
            position: fixed;
            padding: 0rem 0rem;
            font-size: 0.5rem;
            flex-wrap: wrap;
            text-align: center;
          }

          #logo {
            @include flex();
            position: fixed;
            left: 2rem;
      
            @include tablet {
              position: initial;
            }
      
            @include mobile {
              width: fit-content;
              margin: 2rem auto;
            }
      
            &:hover {
      
              .fixed {
                opacity: 0;
      
                @include mobile {
                  opacity: 9;
                }
              }
      
              .transition {
                opacity: 1;
              }
      
            }
          }


          ul {
            @include flex();
            gap:2rem;
            float: right;
            text-align: right;
      
            @include mobile {
              @include flex($justify: space-between);
              width: 100vw;
              gap: auto;
              padding: 2rem 4rem;
              background: transparent;
              position: fixed;
              bottom: 0;
              left: 0;
              z-index: 4;
            }
      
            li {
              padding: 0.16rems 0.32rem;
      
              position: relative;
              transition: all .35s ease;
      
              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $white;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
      
              &:hover {
                color: $white;
      
                &::before {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
            }
          }
    }

}

main{
    
#presentation{
    @include flex($justify: space-between);
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem;


    #salut{
        padding-left: 40vw;
        line-height: 0.1rem;

        @include tablet {
            padding-left: 20vw;

        }

        @include mobile {
            padding-left: 10vw;

        }

        #MARIANA{
        padding-left: 80px;
        }
        #SILVA{
            padding-left: 30px;
            }
    }
    

}


#about{
    width: 100vw;
    height: 100vh;
    padding: 3rem 10rem;
    font-size: 50em;

    @include mobile {
        padding-left: 9vw;
    }


    section{
        margin-top: 5rem;
        width: 50vw;
        font-size: 230rem;
        letter-spacing: 1px;

        @include mobile {
            width: 80vw;
        }

    }


}





}

html.has-scroll-smooth {
    overflow: hidden;
    /* fix */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  